In [1]:
import pandas as pd

In [2]:
yrbss = pd.read_csv('../data/yrbss_2017.csv')
print(yrbss.shape)

(7461960, 40)

In [3]:
question_results_df = pd.read_csv('../data/question_results_df.csv')
print(question_results_df.shape)

(341, 9)

In [8]:
us_df = yrbss[yrbss['LocationAbbr'] == 'XX']
print(us.shape)

(163680, 40)

In [4]:
question_results_df.head()

,Unnamed: 0,topic,subtopic,question,group,data_val,low_val,high_val,significance
0,0,Dietary Behaviors,Vegetables,Did not eat vegetables,Male,8.9386,7.8500,10.1615,more
1,1,Dietary Behaviors,Vegetables,Did not eat vegetables,Black or African American,12.7179,10.5409,15.2678,more
2,2,Dietary Behaviors,Vegetables,Did not eat vegetables,Hispanic or Latino,9.1782,7.5857,11.0651,more
3,0,Dietary Behaviors,Sports Drinks,"Drank a can, bottle, or glass of a sports drin...",Male,16.8622,15.3162,18.5302,more
4,1,Dietary Behaviors,Sports Drinks,"Drank a can, bottle, or glass of a sports drin...",Black or African American,21.0865,18.1933,24.3030,more

In [6]:
question_results_df.head(1)['question'][0]

'Did not eat vegetables'

In [10]:
question_results_df.head(1)['group'][0]

'Male'

In [11]:
us_df[(us_df['Greater_Risk_Question'] == question_results_df.head(1)['question'][0]) & 
                (us_df['Grade'] == 'Total') & (us_df['Sex'] == question_results_df.head(1)['group'][0]) & 
                (us_df['Race'] == 'Total') & (us_df['SexualIdentity'] == 'Total') & 
                (us_df['SexOfSexualContacts'] == 'Total')][['Greater_Risk_Data_Value', 'Greater_Risk_Low_Confidence_Limit', 'Greater_Risk_High_Confidence_Limit']]

,Greater_Risk_Data_Value,Greater_Risk_Low_Confidence_Limit,Greater_Risk_High_Confidence_Limit
4910036,8.9386,7.85,10.1615

In [14]:
Gender = ['Male', 'Female']
Race = ['Asian', 'Black or African American', 'Hispanic or Latino', 'White', 
    'Multiple Race', 'American Indian or Alaska Native', 'Native Hawaiian or Other Pacific Islander']
Sexuality = ['Gay or lesbian', 'Bisexual', 'Not sure', 'Heterosexual (straight)']

In [33]:
for index, row in question_results_df.iterrows(): 
        tmp_df = us_df[(us_df['Greater_Risk_Question'] == row['question']) & 
                (us_df['Grade'] == 'Total') & (us_df['Sex'] == 'Total') & 
                (us_df['Race'] == 'Total') & (us_df['SexualIdentity'] == 'Total') & 
                (us_df['SexOfSexualContacts'] == 'Total')][['Greater_Risk_Data_Value']] 
        print(row['data_val'], tmp_df.iat[0,0])

8.9386 7.2069
12.7179 7.2069
9.1782 7.2069
16.8622 12.3849
21.0865 12.3849
10.7146 7.557
13.6063 7.557
62.74100000000001 52.292
60.5664 52.292
59.619 52.292
55.3027 52.292
5.937 4.1657
8.9192 4.1657
7.1568 5.567
6.9562 5.567
8.9093 5.567
33.6774 26.6846
40.9484 26.6846
32.1311 26.6846
33.9314 26.6846
31.8292 26.6846
22.2714 18.7401
21.4771 18.7401
32.0805 18.7401
8.7087 7.1028
9.8961 7.1028
75.9541 72.1508
15.0214 12.4599
16.5998 12.4599
23.2786 12.4599
15.7553 12.4599
4.9809 3.8129
6.7107 3.8129
6.4889 3.8129
68.9777 64.6896
71.2747 64.6896
68.2652 64.6896
77.0169 64.6896
15.9812 14.0841
19.1065 14.0841
5.6139 3.7688
7.7197 4.8344
7.9019 4.8344
15.1929 9.7334
12.4891 9.7334
17.0958 9.7334
23.6769 9.7334
16.6505 9.7334
10.1932 7.9804
18.031 7.9804
16.9573 7.9804
14.0805 7.9804
24.1572 15.6545
11.5617 8.5368
15.2737 8.5368
19.7383 14.9369
17.3498 14.9369
29.6005 14.9369
21.9765 14.9369
11.293 7.4258
9.628 7.4258
21.187 7.4258
22.0734 7.4258
13.1128 7.4258
8.9581 6.6985
9.3534 6.6985
9.8804 6.6985
10.6976 6.6985
22.3371 19.0363
21.4649 19.0363
25.4237 19.0363
27.9532 19.0363
34.4315 19.0363
24.3364 19.0363
30.0319 23.5507
33.1715 23.5507
29.2676 23.5507
7.7767 5.9738
7.8422 5.9738
13.713 5.9738
9.4851 5.9738
11.0784 5.9738
10.7121 6.8692
9.6368 6.8692
12.092 6.8692
16.7716 6.8692
14.1494 6.8692
41.0878 31.4739
33.699 31.4739
39.6039 31.4739
53.1225 31.4739
65.9513 31.4739
46.3548 31.4739
22.1133 17.2012
23.2086 17.2012
41.4364 17.2012
49.5832 17.2012
31.75 17.2012
9.2586 7.3714
9.7515 7.3714
10.8299 7.3714
18.5601 7.3714
24.1873 7.3714
14.3237 7.3714
17.0566 13.5739
20.2846 13.5739
33.167 13.5739
39.4432 13.5739
25.5864 13.5739
3.0938 2.4462
9.6087 2.4462
6.8843 2.4462
5.5821 2.4462
20.66 16.4536
9.7815 5.8845
7.319 5.8845
14.4774 5.8845
43.8754 39.187
14.6269 13.0421
20.1198 13.0421
21.7102 13.0421
6.8177 5.5189
7.0494 5.5189
1.6977 1.2795
4.3239 1.2795
17.2544 13.9636
16.7901 13.9636
27.7787 13.9636
21.6744 13.9636
20.1404 13.9636
15.8625 13.2108
27.7565 13.2108
18.4568 13.2108
3.7607 2.4295
63.2209 58.5652
67.7856 58.5652
14.3208 12.3147
14.5136 12.3147
25.4362 12.3147
20.1073 12.3147
19.6837 12.3147
3.6789 2.0676
10.4951 7.9922
10.8058 7.9922
3.8893 0.9619
48.6741 42.2282
52.1089 42.2282
23.3947 19.4934
35.0057 19.4934
27.7763 19.4934
5.0442 3.3207
4.3444 3.3207
2.8098 1.6072
8.9464 5.4525
11.111 5.4525
11.0653 8.8162
18.7054 8.8162
15.9164 8.8162
16.2409 8.8162
40.7937 28.9246
42.0209 28.9246
12.4712 2.6461
5.9582 2.6461
17.9703 9.496
13.9529 9.496
14.2686 9.496
14.7727 9.496
39.5591 9.7204
11.9423 2.0392
4.0792 2.0392
2.3885 1.7123
7.7904 1.7123
5.1372 1.7123
3.0638 1.7123
7.7202 1.7123
4.9855 4.0159
5.0931 4.0159
6.1787 4.0159
8.8099 4.0159
8.7513 4.0159
8.0885 4.0159
3.3955 2.4796
9.6874 2.4796
8.1215 2.4796
5.5263 2.4796
7.5681 2.4796
25.4087 19.79
29.1123 19.79
42.8152 35.5668
42.392 35.5668
46.8032 35.5668
51.4722 35.5668
26.8027 14.0065
22.4593 14.0065
24.8439 14.0065
9.1071 6.8565
14.4097 6.8565
14.5659 6.8565
12.1137 6.8565
11.0853 6.8565
6.2047 2.8636
8.1612 2.8636
5.4574 2.8636
6.4738 2.8636
8.3277 6.8215
9.7652 6.8215
9.8397 6.8215
15.9809 6.8215
11.0334 6.8215
11.0997 6.8215
1.9627 1.4541
3.9594 1.4541
3.1917 1.4541
6.0806 1.4541
11.1065 6.206
18.34 6.206
25.3063 19.8008
23.4488 19.8008
29.9979 19.8008
30.8141 19.8008
6.0762 4.8398
6.3407 4.8398
15.5405 4.8398
9.544 4.8398
7.5925 4.8398
10.439 4.8398
7.5870000000000015 6.5854
12.9324 6.5854
12.0236 6.5854
18.182 15.517999999999999
19.2615 15.517999999999999
23.0625 15.517999999999999
48.3728 43.503
5.7968 4.3929
38.4142 29.7702
64.666 60.3699
74.5013 60.3699
15.6611 13.4808
17.7854 13.4808
11.5807 9.7445
14.7679 9.7445
15.0609 9.7445
15.6155 9.7445
97.7791 95.3487
45.7533 39.5312
48.1654 39.5312
48.4323 39.5312
4.7949 3.3991
7.4881 3.3991
8.3794 3.3991
7.73 3.3991
5.6611 3.3991
76.0844 70.61399999999999
77.4763 70.61399999999999
83.1893 70.61399999999999
96.3694 70.61399999999999
16.6606 13.8112
17.8175 13.8112
19.0402 13.8112
61.3036 13.8112
19.8669 13.8112
24.9593 13.8112
53.0661 46.1683
71.2894 46.1683
57.6248 46.1683
34.801 28.6723
97.3055 95.9397
100.0 95.9397
93.5785 91.1922
95.8485 91.1922
98.0224 91.1922
95.048 91.1922
21.6212 18.7637
34.6069 18.7637
86.7769 79.3256
87.8833 79.3256
97.0469 79.3256
91.9346 90.6618
92.0989 90.6618
63.224 53.4743
61.9882 53.4743
58.0015 53.4743
66.301 53.4743
68.1785 53.4743
65.7721 53.4743
19.4978 15.4257
19.7962 15.4257
22.0268 15.4257
23.1183 15.4257
17.1487 15.0683
82.6127 70.1388
47.2278 43.0035
50.7967 43.0035
55.7364 43.0035
62.0956 48.3466
54.8581 48.3466
82.5432 73.8655
82.15700000000002 73.8655
85.564 73.8655
85.2442 73.8655
80.985 73.8655
59.2237 48.9114
65.1288 48.9114
63.203 48.9114
60.5779 48.9114
35.1803 20.6776
26.4214 20.6776
53.4911 45.7035
60.1173 45.7035
61.8697 45.7035
56.3053 45.7035
7.4754 5.5676
11.6374 5.5676
9.9466 5.5676
61.5899 57.229
74.8278 57.229
2.3496 1.4648
29.8365 22.538
30.4807 22.538
36.4032 22.538
26.9471 22.538
18.4261 15.2117
20.4069 15.2117
23.6733 15.2117
18.5538 15.2117
81.4461 74.62100000000001
81.148 74.62100000000001
82.8302 74.62100000000001
65.9752 52.8764
57.6686 52.8764
66.0461 52.8764
37.4636 31.4939
37.1023 31.4939
47.4368 31.4939
43.0131 31.4939
17.4961 14.7812
18.2024 14.7812
18.1616 14.7812
20.6661 14.7812
19.4789 15.6251
19.4559 15.6251